/* styles for index.html page */

*{
    box-sizing: border-box;
}
@font-face {
    font-family: myFont;
    src: url(./fonts/OldLondon.ttf);
    margin: 10px auto;
}
.center{
    margin: 0px auto;
    text-align: center;
}
.mainTitle{
    letter-spacing: 30px;
    margin-top: -5px;
    font-family: myFont ;
    font-size: 150px;
    font-weight: 400px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 70px;
}
.gif .cookhere{
    display: inline-block;
    border: 10px;
    border-style: double;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
}
.ytLink a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
a:hover{
    color: red;
}
.rowgrid{
    margin-top: 3px;
    display: inline-flex;
    --gap: 5px;
    --num-cols:3;
    --row-height:300px;

    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(var(--num-cols),1fr);
    grid-auto-rows: var(--row-height);
    gap: 19px;
}
.rowgrid > a img{
    border-style:double;
    border-width: 10px;
    border-radius: 5px;
    border-color: black;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.rice:hover{
    webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
}
.beans:hover{
    webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
}

.riceandbeans:hover{
    webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
}

.navi{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: myFont;
    font-size: 30px;
}



/* rice.html */
.container {
    background-color: #abb1f5;
/*     display: inline-block; */
    border-color: #ffffff;
    border-style: double;
    margin-left: 600px;
    margin-right: 600px;
    border-width: 10px;
    margin-bottom: 0px;

}
.middlecard{
    margin: 0px auto;
    text-align: center;
}
.riceTitle{
    font-size: 64px;
    color: rgb(255, 255, 255);
    font-family: myFont;
/*     border-style: solid;  */
    margin-top: 1px;
}
.chickenrice{
    width: 200px ;
    height: auto;
    border-radius: 360px;
    border-style:solid ;
    border-width: 5px;
    border-color: rgb(239, 198, 255);
    margin-top: 2px;
}
h2{
    font-family: myFont;
    font-size: 30px;
}

.listone{
    display: inline-block;
    margin-right: 20px;
    margin-top: 5px;
}

.ollist{
    display: inline-block;
    margin-top: 1px;

}
.linkhome{
    text-align: center;
}
.home{
    font-family: myFont;
    font-size: xx-large;
    text-decoration: none;
}



/* beans.html */
.beansTitle{
    font-family: myFont;
    font-size: 64px;
    color: rgb(255, 255, 255);
    
}
.beancup{
    width: 200px ;
    height: auto;
    border-radius: 360px;
    border-style:solid ;
    border-width: 5px;
    border-color: rgb(239, 198, 255);
    margin-top: 2px;
}


/* riceandbeans.html */
.randbTitle{
    font-family: myFont;
    font-size: 64px;
    color: rgb(255, 255, 255);
}

